POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=your_pgadmin_password

BOT_TOKEN=your_bot_token
ADMIN_IDS=your_telegram_id

DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"

TELEGRAPH_ACCESS_TOKEN=your_telegraph_access_token
TELEGRAPH_PAGE_PATH=your_telegraph_page_path